div, nav, section, ul, ol, li, a, span, i, input, form {
    box-sizing: border-box;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

em, i {
    font-style: normal;
}

.hide {
    display: none;
}

.ml-sm {
    margin-left: 10px;
}

.mt-md {
    margin-top: 30px;
}

.mb-sm {
    margin-bottom: 10px;
}

.mb-lg {
    margin-bottom: 50px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.tac {
    text-align: left;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

img {
    max-width: 100%;
}

p {
    margin: 30px 0;
    line-height: 1.8em;
}

p.indent {
    text-indent: 2em;
    text-indent: 0;
}

p.has-sub {
    margin-bottom: 10px;
}

body {
    margin: 0;
    height: 100%;
    font-size: 16px;
    line-height: 1.6em;
    background: #112027;
    color: #fff;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.wrap {
    padding-bottom: 50px;
}

.logo {
    padding: 7px 0;
    height: 50px;
    background: #fff;
}

.logo img {
    display: block;
    float: left;
    width: 150px;
    margin-left: 20px;
}

.icon {
    padding: 5% 0;
}

.icon img {
    display: block;
    margin: 0 auto;
    max-width: 280px;
}

.message {
    margin: 0 30%;
    text-align: center;
}

.fm {
    width: 400px;
    margin: 10% auto;
}

.fm h2 {
    margin: 1em;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}

.fm input,
.fm button {
    -webkit-appearance: none;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    letter-spacing: .1em;
}

.fm input {
    padding: 10px;
    width: 100%;
    border: 1px solid #fff;
    background: #112027;
}

.fm button {
    width: 130px;
    font-size: 16px;
    display: block;
    padding: 0 30px;
    margin: 3em auto 0;
    border: none;
    background: #f7283a;
}

.fm .tips {
    min-height: 30px;
    margin: .2em 0 0;
    color: #f7283a;
}

@media (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .logo img {
        float: none;
        margin: 0 auto;
    }

    .icon {
        padding: 20% 0 10%;
    }

    .icon img {
        max-width: 260px;
    }

    .message {
        margin: 0 50px;
    }

    .fm {
        width: 80%;
        margin: 30% auto 0;
    }

    .fm button {
        margin-top: 30%;
    }
}