<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="format-detection" content="telephone=no">
    <title id="title">Reset Password</title>
    <link rel="stylesheet" type="text/css" href="../../accset/biz/style.css">

    <style>
        body {
            background: url('https://s3-us-west-1.amazonaws.com/coros-web/static/img/page/bg_04.jpg') no-repeat fixed center / cover;
        }

        .fm {
            width: 500px;
            padding: 30px 50px;
            background: #fff;
            color: #333;
        }

        .fm input {
            background: #fff;
            border: 1px solid #ccc;
            color: #333;
            border-radius: 0;
        }

        .fm .btn {
            background: #333;
            margin-top: 2em;
        }

        @media (max-width: 1024px) {
            .wrap {
                padding-top: 0;
            }
        }

        @media (max-width: 600px) {
            .wrap {
                padding-top: 0;
            }

            .fm {
                width: 100%;
            }
        }
    </style>
</head>

<body>

<div class="wrap">
    <div class="logo"><img src="../../accset/image/logo.png"></div>

    <div class="fm">
        <h2 class="change din" id="changePwd">Change Password</h2>
        <input class="inp" id="psw" type="text" placeholder="New Password" minlength="6"
               maxlength="20" required>
        <p class="tips" id="fmTips"></p>
        <button id="btnResetPWD" class="btn bd">Reset</button>
    </div>


</div>

<script src="../../accset/biz/zepto/zepto.js"></script>
<script src="../../accset/biz/zepto/zepto.md5.js"></script>
<script>
    function request(strName) {
        var strHref = window.document.location.href;
        var intPos = strHref.indexOf("?");
        var strRight = strHref.substr(intPos + 1);
        var arrTmp = strRight.split("&");
        for (var i = 0; i < arrTmp.length; i++) {
            var arrTemp = arrTmp[i].split("=");
            if (arrTemp[0].toUpperCase() === strName.toUpperCase()) {
                return arrTemp[1]
            }
        }
        return ""
    }

    var email = request('email')
    var checkCode = request('checkCode');
    var language = request('language');
    if (language === undefined || language === '') {
        language = "en-US";
    }

    // language
    var title_en = "Reset Password";
    var changePwd_en = "Change Password";
    var psw_en = "New Password";
    var btnResetPWD_en = "Reset";

    var title_zh = "重置密码";
    var changePwd_zh = "更改密码";
    var psw_zh = "新密码";
    var btnResetPWD_zh = "重置";

    if (language === 'zh-CN') {
        $('#title').text(title_zh);
        $('#changePwd').text(changePwd_zh);
        $('#psw').attr('placeholder', psw_zh);
        $('#btnResetPWD').text(btnResetPWD_zh);
    } else {
        $('#title').text(title_en);
        $('#changePwd').text(changePwd_en);
        $('#psw').attr('placeholder', psw_en);
        $('#btnResetPWD').text(btnResetPWD_en);
    }

    $(function () {
        $('#btnResetPWD').click(function () {
            var pwd = $('#psw').val();
            if (!pwd) {
                if (language === 'zh-CN') {
                    $("#fmTips").text("请输入密码");
                } else {
                    $("#fmTips").text("Please enter password");
                }
                return false
            }
            if (pwd.length < 6 || pwd.length > 20) {
                if (language === 'zh-CN') {
                    $("#fmTips").text("请输入密码6到20字母或数字");
                } else {
                    $("#fmTips").text("Please enter password with 6-20 characters");
                }
                return false
            }
            //正则
            var reg = /^([., ?/\\~@!#￥%^&*_\-+(){}\[\]<>'$€￡·|:;="]*\w*)*$/;
            if (!reg.test(pwd)) {
                if (language === 'zh-CN') {
                    $("#fmTips").text("密码格式不正确，建议字母加数字组合");
                } else {
                    $("#fmTips").text("Special symbols set in password are not");
                }
                return false
            }

            pwd = $.md5(pwd);
            $.ajax({
                type: "POST",
                url: "/coros/user/resetPassword",
                contentType: 'application/json',
                data: JSON.stringify({
                    account: email,
                    pwd: pwd,
                    checkCode: checkCode,
                    accountType: 2
                }),
                dataType: "json",
                success: function (data) {
                    if (data && data.result === "0000") {
                        if (language === 'zh-CN') {
                            $("#fmTips").text("密码修改成功!现在你可以使用新密码登录。");
                            location.href = "../success.html?message=密码修改成功!现在你可以使用新密码登录。&language=" + language;
                        } else {
                            $("#fmTips").text("Password has been updated successfully. You can log in with the new password now.");
                            location.href = "../success.html?message=Password has been updated successfully. You can log in with the new password now.&language=" + language;
                        }
                    } else if (data && data.result === '1015') {
                        if (language === 'zh-CN') {
                            location.href = "../failed.html?message=验证码无效&language=" + language;
                        } else {
                            location.href = "../failed.html?message=the check code is invalid&language=" + language;
                        }
                    } else if (data) {
                        $("#fmTips").text(data.message);
                        return false
                    }
                },
                error: function (xhr, errorInfo, ex) {
                    location.href = "../failed.html";
                    show.append('error invoke!errorInfo:' + errorInfo + '<br/>')
                },
                headers: {
                    "YFHeader": JSON.stringify({language: language})
                }
            })
        })
    });
    $("#showpsw").change(function () {
        if ($("#showpsw").is(":checked")) {
            $("#psw").attr("type", "text")
        } else {
            $("#psw").attr("type", "password")
        }
    });
</script>

</body>
</html>