<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="format-detection" content="telephone=no">
    <title id="title">Email Activate</title>
    <link rel="stylesheet" type="text/css" href="../../accset/biz/style.css">
</head>

<body>

<div class="wrap">
    <div class="logo"><img src="../../accset/image/logo.png"></div>
    <div class="icon"><img src="../../accset/image/icon_msg.jpg"></div>
    <p class="message" id="message"></p>
</div>

<script src="../../accset/biz/zepto/zepto.js"></script>
<script>
    function request(strName) {
        var strHref = window.document.location.href;
        var intPos = strHref.indexOf("?");
        var strRight = strHref.substr(intPos + 1);
        var arrTmp = strRight.split("&");
        for (var i = 0; i < arrTmp.length; i++) {
            var arrTemp = arrTmp[i].split("=");
            if (arrTemp[0].toUpperCase() === strName.toUpperCase()) {
                return arrTemp[1];
            }
        }
        return "";
    }

    var userId = request('userId');
    var checkCode = request('checkCode');
    var activateType = request('activateType');
    var email = request('email');
    var language = request('language');
    if (language === undefined || language === '') {
        language = "en-US";
    }

    // language
    var title_en = "Email Activate";
    var title_zh = "邮箱激活";
    if (language === 'zh-CN') {
        $('#title').text(title_zh);
    } else {
        $('#title').text(title_en);
    }

    $(function () {
        $.ajax({
            type: "POST",
            url: "/coros/user/activateMail",
            contentType: 'application/json',
            data: JSON.stringify(
                {userId: userId, checkCode: checkCode, email: email, activateType: activateType}),
            dataType: "json",
            success: function (data) {
                if (data && data.result === "0000") {
                    if (language === 'zh-CN') {
                        $("#message").html('<p>邮箱激活成功。</p>'
                            + '<p>您可以返回COROS App，开始享受运动吧！</p>');
                    } else {
                        $("#message").html('<p>Activation successful！</p>'
                            + '<p>You can go back to App for further use. Enjoy the trip with COROS！</p>');
                    }
                } else if (data) {
                    $('#message').html(data.message);
                    return false;
                }
            },
            error: function (xhr, errorInfo, ex) {
                if (language === 'zh-CN') {
                    location.href = "../failed.html?message=连接无效&language=" + language;
                } else {
                    location.href = "../failed.html?message=Link invalid&language=" + language;
                }
                show.append('error invoke!errorInfo:' + errorInfo + '<br/>');
            },
            headers: {
                "YFHeader": JSON.stringify({language: language})
            }
        });
    });
</script>

</body>
</html>